.datos_contacto {
  margin-bottom: 20px;
}

.botones {
  text-align: center;
  background-color: blue;
}

.claims-rrgg-completetaskinfo-skeleton {
  margin: 50px 20px 20px;
}

.hide {
  display: none;
}
