/*
.search-result-list {
    width: "100%";
    margin-top: 16px;
    border-radius: 6px;
    background-color: #fff;
    min-height: 200px;
    text-align: center;
    padding-top: 0px;
  }

  */
